<h1>Users#my_portfolio</h1>
<p>Find me in app/views/users/my_portfolio.html.erb</p>

<h3>Search Stocks</h3>

<%= form_with url: search_stocks_path, method: :get, class: "form-inline" do |f| %>
  <%= f.text_field 'ticker', class: "form-control mb-2 mr-sm-2" %>
  <%= f.button type: :submit, class: "btn btn-primary mb-2" do %>
    <%= fa_icon "chevron-right" %>
  <% end %>
<% end %>

<div id="results"></div>

<% if @tracked_stocks.present? %>
  <%= render 'stocks/tracked_list' %>
<% end %>
